@function px2rem($px, $base-font-size: 75px) {
    @return ($px / $base-font-size) * 1rem;
}
@mixin flex {
    display: flex;
}
@mixin flex-center {
    @include flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-row-center {
    @include flex;
    justify-content: center;
}
@mixin flex-column-center {
    @include flex;
    align-items: center;
}

@mixin font-weight-400 {
    font-weight: 400;
}
@mixin font-weight-500 {
    font-weight: 500;
}